
  @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

*{
    margin:0;
    padding:0;
    box-sezing:border-box;
    font-family: 'Belanosima', sans-serif;
}
body{
    background-color:black;
    transition:2s;
}
.main{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    aling-items:center;
    margin-top:15%;
    }
.container{
    width:30rem;
    height:7rem;
    padding:10px;
    border-radius:13px;
    font-size:40px;
    font-family: 'Belanosima', sans-serif;
    
    background-color:white;
    text-align:center;

}

button{
    margin-top:20px;
font-size:25px;
width:100%;
backgound-color:green;
color:white;


}